<p>
    <strong>id</strong>: <%= user.id %><br>
    <strong>token</strong>: <%= user.token %><br>
    <strong>email</strong>: <%= user.email %><br>
    <strong>name</strong>: <%= user.name %>
</p>



